body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-size: 40px;
  position: relative;
  top: 20px;
}

input {
  font-size: 20px;
  position: relative;
  left: 5px;
}

.site-links {
    font-size: 30px;
    position: relative;
    top: 10px;
}

.site-links a {
        color: white;
        text-decoration: none;
}