.sign-in-general {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sign-in-form {
    background: green;
    border: 3px solid white;
    padding: 10px;
}

.sign-in-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
